@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======= DIVы, формирующие поле для контента ======= */
/* Центрирование */
.kat_div_center {
  @apply py-4;
}

/* Отступы */
.kat_div_margin {
  @apply max-w-7xl mx-auto sm:px-4 lg:px-4;
}

/* Фон и скругление */
.kat_div_bg {
  @apply dark:bg-black bg-white overflow-hidden;
}

/* Внутреннее позиционирование */
.kat_div_inner {
  @apply p-4 dark:text-gray-300 text-gray-700;
}
/* ======= DIVы, формирующие поле для контента ======= */



/* H2 - заголовок страницы */
.h2_header {
  @apply font-semibold text-xl text-gray-300 leading-tight;
}

@layer base {
  /* Светлая тема - сначала */
  a {
    @apply text-sky-700 hover:text-sky-600 font-medium;
  }

  /* Темная тема - после светлой, можно только специфичные свойства */
  @media (prefers-color-scheme: dark) {
    a {
      @apply text-blue-500 hover:text-blue-400 font-medium;
    }
  }
}
